.section5{
    height:500px;
    width:100%;
    background-image: url('../assets/college.png');
    background-position: center;
    background-size: cover;
    margin-top: 50px;
    background-color: #000;
    position: relative;
}

.section5 div{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

.section5 div span{
    margin-top: 80px;
    font-size:25px;
    color:#fff;
}

.section5 div p{
    margin-top: 100px;
    font-size: 30px;
    color:#FFFFFF;
    width:60%;
    letter-spacing: 2px;
}

@media screen and (max-width: 830px) {
    .section5{
        height:300px;
    }
    .section5 div span{
        margin-top: 30px;
        font-size:18px;
    }
    
    .section5 div p{
        margin-top: 70px;
        font-size: 20px;
        color:#FFFFFF;
        width:80%;
        letter-spacing: 1px;
    }
}