.section2{
    background-color:#C53418;
    margin-top: 30px;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:20px;
}

.section2 .grid{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.section2 .content{
   color: #ffffff;
   display:flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin-top: 40px
}

.section2 .content div{
    display:flex;
    justify-content:center;
    align-items: center;
    text-align: center;
}


.section2 .content strong{
    margin-bottom: 30px;
    font-size:24px;
    position:absolute;
    top:0
}

.section2 .content div p{
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 30px
}


.section2  .vedio{
    background: url('../assets/video_image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:300px;
    width:300px;
    border-radius: 20px;
}

@media screen and (max-width: 900px) {
    .section2  .vedio{
        height:250px;
        width:250px;
        border-radius: 10px;
    }

    .section2{
        grid-template-columns: repeat(1,1fr);
        grid-gap:10px;
    }
   
}




@media screen and (max-width: 581px) {
    .section2 .content{
        font-size:18px;
     }

     .section2 .content div p{
        font-size: 14px;
        letter-spacing: 1px;
    }

    .section2 .content strong{
        margin-bottom: 30px;
        font-size:16px;
    }

    .section2{
        padding: 15px;
    }


    
}