
.section7 div{
    display:flex;
    align-items: center;
    margin-bottom: 15px
}

.section7 div strong{
    font-size: 20px
}

.section7 div hr{
    border:3px solid #FAD831;
    width: 25px;
    border-radius: 20px;
    margin-right:10px
}

.section7{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px
}

.section7 .grid {
    display:grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 20px
}

.section7 .grid div{
    height:150px;
    width:150;
    box-shadow:3px 3px 10px #dcdcdc 
}

@media screen and (max-width: 950px) {
    .section7 .grid {
        grid-template-columns: repeat(4,1fr);
    }
}

@media screen and (max-width: 670px) {
    .section7 .grid {
        grid-template-columns: repeat(2,1fr);
    }  
}