.section3{
    margin-top:50px;
    text-align: center;
    position: relative;
}

.section3 .head strong{
    font-size: 35px; 
}

.section3 .logo{
    display:grid;
    grid-template-columns: repeat(7, 1fr);
}

a{
    font-size: 16px;
}

.section3 .logo .logo1, .logo2, .logo3, .logo4, .logo5{
    display:flex;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/white_logo.png');
    width:120px;
    height: 120px;
    background-size: cover;
    background-position: center;
    margin-top: 50px;
}

.section3 .logo .logo1{
    grid-column-start: 2
}

.section3 .logo .logo2, .logo4{
    margin-top:200px
}

.section3 .logo strong{
    margin-top: 140px;
}

@media screen and (max-width: 700px) {
    .section3 .logo .logo1, .logo2, .logo3, .logo4, .logo5{
        width:70px;
        height: 70px;
    }

    .section3 .logo .logo2, .logo4{
        margin-top:100px
    }
    
    .section3 .logo strong{
        margin-top: 70px;
        font-size: 10px
    }

    .section3 .head strong{
        font-size: 18px; 
    }
}

@media screen and (max-width: 390px) {
    .section3 .logo{
        display:grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left:40%;
    }

    .section3 .logo .logo1{
        grid-column-start: 1;
    }
    
    .section3 .logo .logo2, .logo4, .logo1, .logo3, .logo5{
        margin-top:15px;
    }
    
    .section3 .logo strong{
        margin-top:15
    }
}
